:root{
    --black: #000;
    --white: rgba(255, 255, 255, 1);
    --red: #ff0000;
    --blue: blue;
}

html,
body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


html,
body,
ul{
    margin: 0;
    padding: 0;
}


header{
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 11px 0px var(--black);
    box-shadow: 0px 0px 11px 0px #000;
}


fieldset{
    /* text-align: center; */
    max-width: 50vw;
    margin: 0 auto;
}


legend{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    /* margin 0 auto fix for IE not text-aligning the legend */
    margin:0 auto;
}

label{
    display: block;
    margin: .5rem;
}

.arial, 
option[value="arial"]{
    font-family: Arial, Helvetica, sans-serif;
}

.calibri, 
option[value="calibri"]{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.times-new-roman,
option[value="times-new-roman"]{
    font-family: 'Times New Roman', Times, serif
}

text{
    font-size: 3rem;
    fill: red;
}

foreignObject p{
    color: red;
}

/* Menu */

nav{
    background-color: #000;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    padding: 2rem;
    color: var(white);
    color: #fff;
}

nav ul li a:hover{
    color: var(--black);
    color: #000;
    background-color: var(--white);
    background-color: #fff;
}


/* Main */

main{
    /* width: 90vw;
    max-width: 90vw;
    margin: 0 auto; */
}


fieldset[data-step="3"]{
    position: relative;
    text-align: center;
}

/* fieldset[data-step="3"] textarea{
    resize: none;
} */


table,
td, th {
    border: 1px solid #333;
}

fieldset[data-step="3"] img{
    max-width: 100%;
}

textarea{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: transparent;
    color: #fff;
}

img{
    min-height: 300px;
    min-width: 300px;
}


/* Classes */


.hidden{
    display: none;
}


/* Colors */


.red{
    fill: var(--red);
    fill: #ff0000;
}


