:root{
    --black: #000;
    --white: rgba(255, 255, 255, 1);
    --red: #ff0000;
    --blue: blue;
}

*{
    box-sizing: border-box;
}

html,
body{
    font-family: Arial, Helvetica, sans-serif;
}


html,
body,
ul{
    margin: 0;
    padding: 0;
}


header{
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 11px 0px var(--black);
    box-shadow: 0px 0px 11px 0px #000;
}


fieldset{
    /* text-align: center; */
    max-width: 50vw;
    margin: 0 auto;
}



/* 
    Text align doesn't work in IE
    Margin: 0 auto works good for IE and everything else.
    Yet I heared in some Firefox version it's not working either
    Could use positioning and translating, but after doing that I found out it 
    broke more than it fixed. That's why I'm sticking with the margin: 0 auto fallback, 
    because it seems to work in most cases and it doesn't destroy as much. Works in IE and my Firefox version
*/
legend{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    /* margin 0 auto fix for IE not text-aligning the legend */
    margin: 0 auto;
}

label{
    /* display: block;
    margin: .5rem; */
    display: block;
    margin: .5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

label:checked{
    border: orange solid .5rem;
}

[name="shirtColor"] input[type="radio"],
[name="textColor"] input[type="radio"]{
    display: none;
}

[name="shirtColor"] input[type="radio"] + label,
[name="textColor"] input[type="radio"] + label{
    border: #000 solid .25rem;
}

input[type="radio"]:checked + label{
    border: orange solid .25rem;
}

.arial, 
option[value="arial"]{
    font-family: Arial, Helvetica, sans-serif;
}

.calibri, 
option[value="calibri"]{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.times-new-roman,
option[value="times-new-roman"]{
    font-family: 'Times New Roman', Times, serif
}

text{
    font-size: 3rem;
    fill: red;
}

/* foreignObject p{
    color: red;
} */

figure{
    position: relative;
}

img{
    max-width: 100%;
}

figcaption{
    position: absolute;
    word-break: break-all;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    max-width: 30%;
}

/* Menu */

nav{
    background-color: #000;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    display: inline-block;
    padding: 2rem;
    color: var(white);
    color: #fff;
}

nav ul li a:hover{
    color: var(--black);
    color: #000;
    background-color: var(--white);
    background-color: #fff;
}


/* Main */

main, #content{
    /* width: 90vw;
    max-width: 90vw;
    margin: 0 auto; */
    max-width: 50vw;
    display: block;
}


fieldset[data-step="3"]{
    position: relative;
    text-align: center;
}

/* fieldset[data-step="3"] textarea{
    resize: none;
} */


table,
td, th {
    border: 1px solid #333;
}

fieldset[data-step="3"] img{
    max-width: 100%;
}

textarea{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: transparent;
    color: #fff;
}

/* Classes */


.hidden{
    display: none;
}


/* Colors */


[title="red"], .red{
    background-color: var(--red);
    background-color: #ff0000;
}
[title="black"], .black{
    background-color: var(--black);
    background-color: #000;
}
[title="white"], .white{
    background-color: var(--white);
    background-color: #fff;
}

[title="blue"], .white{
    background-color: var(--blue);
    background-color: blue;
}



@media print{
    header, button{
        display: none;
    }

    *{
        -webkit-print-color-adjust: exact;
    }
}
